<div>
  <h2>LIST</h2>
  <span>
    <button (click)="getAllUsers()">USERS</button>
    <button (click)="getAllBooks()">BOOKS</button>
  </span>
</div>

<h2>{{ title }}</h2>
<div class="block block--list">
  <div *ngFor="let resp of responseList">
    <br />
    <div *ngFor="let item of destructuring(resp)">
      <p>
        <strong>{{ item }}:</strong> {{ resp[item] }}
      </p>
    </div>
    <br />
  </div>
</div>

<br /><br />

<div>
  <h2>ITEM</h2>
  <span>
    <button (click)="getUserByEmail()">USER</button>
    <button (click)="getBookByName()">BOOK</button>
  </span>
</div>

<div *ngIf="response" class="block block--item">
  <div>
    <br />
    <div *ngFor="let item of destructuring(response)">
      <p>
        <strong>{{ item }}:</strong> {{ response[item] }}
      </p>
    </div>
    <br />
  </div>
</div>

<br /><br />

<div>
  <h2>INSERT</h2>
  <span>
    <button (click)="setUser()">USER</button>
    <button (click)="setBook()">BOOK</button>
  </span>
</div>
