<h2>USERS</h2>
<div class="block block--user">
  <div *ngFor="let user of users">
    <br>
    <div>
      <p><strong>id:</strong> {{ user._id }}</p>
    </div>
    <div>
      <p><strong>name:</strong> {{ user.name }}</p>
    </div>
    <div>
      <p><strong>email:</strong> {{ user.email }}</p>
    </div>
    <div>
      <p><strong>active:</strong> {{ user.active }}</p>
    </div>
    <br>
  </div>
</div>

<h2>BOOKS</h2>
<div class="block block--book">
  <div *ngFor="let book of books">
    <br>
    <div>
      <p><strong>id:</strong> {{ book._id }}</p>
    </div>
    <div>
      <p><strong>name:</strong> {{ book.name }}</p>
    </div>
    <div>
      <p><strong>author:</strong> {{ book.author }}</p>
    </div>
    <div>
      <p><strong>category:</strong> {{ book.category }}</p>
    </div>
    <br>
  </div>
</div>